
header {
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
}

#imagProfile {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 3px solid #EAD2AC;
}

#profile {
  display: flex;
  height: 250px;
  width: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#name {
  font-weight: 700;
}

#subTitle {
  font-size: 0.8em;
  font-weight: 1.4em;
}
