#MyProjects {
  height: 400px;
  width: 100%;
  justify-content: space-between;
}

#allProjects {
  margin-bottom: 15px;
}

#allProjects > a {
  color: var(--text-color);
  text-decoration: none;
}

#allProjects > a:hover{
  color: aqua;
}

#allProjects {
  display: flex;
  height: 70px;
  align-items: center;
  padding: 0px 21px;
  justify-content: space-between;
}

#allPosts {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.posts {
  display: flex;
  flex-direction: column;
  height: 170px;
  width: 450px;
  padding: 15px;
  justify-content: space-evenly;
}

.status {
  border: 1px solid var(--bg-techs);
  border-radius: 20px;
  margin-left: 21px;
  padding: 0px 5px;
}

.posts > p {
  display: flex;
  align-items: center;
}

.posts > p > img {
  margin-right: 10px;
}

.posts:hover {
  color: aqua;
}