#MyProjects {
  height: 400px;
  width: 100%;
  justify-content: space-between;
}

#allProjects > a {
  color: var(--text-color);
  text-decoration: none;
}

#allProjects > a:hover{
  color: aqua;
}

#allProjects {
  display: flex;
  height: 70px;
  align-items: center;
  padding: 0px 21px;
  justify-content: space-between;
}

#allPosts {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.posts {
  min-height: 210px;
  min-width: 470px;
}