#MyProjects {
  height: 400px;
  width: 100%;
  justify-content: space-around;
}

#allProjects {
  margin-bottom: 15px;
}

#allProjects > a {
  color: var(--text-color);
  text-decoration: none;
}

#allProjects > a:hover{
  color: aqua;
}

#allProjects {
  display: flex;
  height: 70px;
  align-items: center;
  padding: 0px 21px;
  justify-content: space-between;
}

#allPosts {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.project {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 150px;
  width: 430px;
  padding: 15px;
}

.status {
  border: 2px solid var(--bg-techs);
  border-radius: 20px;
  margin-left: 21px;
  padding: 0px 7px;
}

.project:hover {
  border: 1px solid yellow;
  height: 149px;
  width: 429px;
}

.project > p {
  display: flex;
  align-items: center;
  margin-top: 21px;
}

.project > p > img {
  margin-right: 10px;
}

.project:hover {
  color: aqua;
}

.tag {
  display: flex;
  position: absolute;
  border-radius: 18px;
  padding: 0 7px;
  justify-content: space-around;
  align-items: center;
  right: 14px;
  bottom: 21px;
}

.tag > p {
  color: #70a4f1;
  border: 1px rgba(255, 255, 0, 0.479) solid;
  border-radius: 18px;
  margin-left: 7px;
  padding: 0 7px;
}
