@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

:root {
  --body-bg-color: #22212C;
  --text-color: #06bdbd;
  --bg-cards: rgba(118, 135, 125, 0.155);
  --bg-techs: #00B9AE;
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
  font-family: Merriweather Sans;
}

aside {
  flex-direction: column;
  width: 300px;
  margin-bottom: 15px;
}
