@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

:root {
  --body-bg-color: #22212C;
  --text-color: #06bdbd;
  --bg-cards: #76877d28;
  --bg-techs: #00B9AE;
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
  font-family: Merriweather Sans;
}

aside {
  flex-direction: column;
  width: 300px;
  margin-bottom: 15px;
}

main {
  /* background-color: #00b9ad15; */
  display: flex;
  position: absolute;
  margin-top: 8px;
  max-width: 1000px;
  min-width: 490px;
  height: 98vh;
  left: 350px;
  top: 7px;
  right: 1px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #00b9ad75;
  border-radius: 20px;
}

::-webkit-scrollbar-corner {
  background-color: var(--body-bg-color);
}