#techs {
  background-color: var(--bg-cards);
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#techs > h3 {
  margin-left: 7px;
}

#techs > div {
  display: flex;
  justify-content: space-around;
}

.items {
  background-color: var(--bg-techs);
  color: #000000c2;
  display: flex;
  font-size: .9em;
  justify-content: center;
  width: 90px;
  border-radius: 10px;
}